<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search by name"
          [(ngModel)]="name"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="pageNo = 1; searchName()"
          >
            Search
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Users List</h4>
      
    
      <ul class="list-group" *ngIf="users?.length">
        <li
          class="list-group-item"
          *ngFor="let user of users | paginate: { 
              id: 'user-pagination', 
              currentPage: pageNo, 
              itemsPerPage: itemsPerPage, 
              totalItems: totalElements 
            }; let i = index;"
          [class.active]="i == currentIndex"
          (click)="setActiveUser(user, i)">
          {{ user.firstName }} | {{ user.lastName }}
        </li>
      </ul>
      
      <pagination-controls
      id="user-pagination"
      previousLabel="Prev"
      nextLabel="Next"
      [maxSize]="5"
      [responsive]="true"
      (pageChange)="handlePageChange($event)">
    </pagination-controls>
    </div>
    <div class="col-md-6">
      <app-user-details
        [viewMode]="true"
        [currentUser]="currentUser"
      ></app-user-details>
    </div>
  </div>