<div>
    <div class="submit-form">
      @if (!submitted) {
      
      <div class="form-group">
        <label for="userName">User Name</label>
        <input type="text" class="form-control" id="userName" required [(ngModel)]="user.userName" name="userName" />
      </div>
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName"  [(ngModel)]="user.firstName" name="firstName" />
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName"  [(ngModel)]="user.lastName" name="lastName" />
      </div>
  
      <div class="form-group">
        <label for="email">Email</label>
        <input
          class="form-control"
          id="email"
          required
          [(ngModel)]="user.email"
          name="email"
        />
      </div>
  
      <button (click)="saveUser()" class="btn btn-success">Submit</button>
      } @else {
      <h4>User was submitted successfully!</h4>
      <button class="btn btn-success" (click)="newUser()">Add</button>
      }
    </div>
  </div>