<div>
    <h2>User Management</h2>
  
    <form (ngSubmit)="selectedUser.id ? updateUser() : addUser()">
      <input [(ngModel)]="selectedUser.userName" name="userName" placeholder="Username" required />
      <input [(ngModel)]="selectedUser.email" name="email" placeholder="Email" required />
      <input [(ngModel)]="selectedUser.firstName" name="firstName" placeholder="First Name" required />
      <input [(ngModel)]="selectedUser.lastName" name="lastName" placeholder="Last name" required />
      <button type="submit">{{ selectedUser.id ? 'Update' : 'Add' }} User</button>
    </form>
  
    <h3>Users List</h3>
    <ul>
      <li *ngFor="let user of users">
        {{ user.userName }} ({{ user.email }}) 
        <button (click)="selectUser(user)">Edit</button>
        <button (click)="deleteUser(user.userName)">Delete</button>
      </li>
    </ul>
  </div>